/* variables */
:root{
    --bg-color:rgba(228, 53, 9, 0.9);
    --heading-color:rgba(55, 13, 207, 0.99);
    --button-color:#1d8be6;
    --game-color:#FA951F;
}

/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:'Roboto', sans-serif;
    text-align: center;
    justify-content: center;

    background: var(--bg-color);
    color: #fff;
}

img{
    width:100%;
}

a{
    text-decoration: none;
}

/* heading */
h1{
    font-size: 4.5rem;
    font-style: italic;
    padding-top: 1rem;
    padding-bottom: 1rem;

    color: var(--heading-color);
}

/* scrore */
.score-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0rem auto;
}

.score-box span{
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
    padding:0.3rem 1rem;
}

.score-box button{
    text-align: center;
    font-size: 2rem;

    cursor: pointer;

    padding:0.3rem 1rem;
    border-radius: 8px;
    border: none;

    background: var(--button-color);
    color: #fff;
}
/* hover property added */
.score-box button:hover{    
    opacity: 0.5;
}

/* game */
.game-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;

    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    padding: 0.2rem 0.5rem;

    background: var(--game-color);

    border-radius: 10px;

    -webkit-box-shadow: 0px -3px 16px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -3px 16px -7px rgba(0,0,0,0.75);
    box-shadow: 0px -3px 16px -7px rgba(0,0,0,0.75);
}

.hole{
    display: flex;
    flex-direction: column;
    padding-left: 0.2rem;
}

.hole img{
    width: 85%;
}

.mole{
    height: 75%;
    width: 75%;
    
    /* visibility: hidden; */

    cursor: pointer;
}

/* footer */
.footer{
    text-align: left;
    padding: 1rem 0rem 0.5rem 0.5rem;

    font-size: 1rem;

    color: #fff;
}

.footer a{
    font-style: italic;
    font-weight: 200;
    transition: 0.5s ease;
    color:#fff;
}

.footer a:hover{
    color: var(--button-color);
}