/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:'Roboto', sans-serif;
    text-align: center;
    justify-content: center;
    background: #1c1c1f;
    color: rgb(19, 216, 190);
}

img{
    width:100%;
}

/* heading */
h1{
    font-size: 4.5rem;
    font-style: italic;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* scrore */
.score-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0rem 43rem;
}

.score-box span{
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
    padding:0.3rem;
}

.score-box button{
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    padding:0.3rem 1rem;
    border-radius: 6px;
}

/* game */
.game-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    max-width: 60rem;
    margin-left: 18rem;
    margin-top: 1rem;
    padding-top: 0.2rem;
    /* background: #f5ca0e; */
}

.hole img{
    height: 85%;
    width: 85%;
}